!!! 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Subway
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('subway')
    != css('subway-mobile')

    script
      var ENV = '#{env}',
          PORT = #{port};
    != js('client')
    include templates
  body
    block content
